import statements and data you need

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline

In [27]:
# dataframe for first csv

# Path to the data - select the path that works for you 
file_path = '../data-mining-semester-project/data/Census race.csv'

# Load the data into a DataFrame 
dfCensus = pd.read_csv(file_path)

dfCensus = dfCensus.dropna()
dfCensus= dfCensus.replace('!!',' ', regex=True)
dfCensus.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3222 entries, 0 to 3221
Data columns (total 73 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GEO_ID   3222 non-null   object
 1   NAME     3222 non-null   object
 2   P1_001N  3222 non-null   object
 3   P1_002N  3222 non-null   object
 4   P1_003N  3222 non-null   object
 5   P1_004N  3222 non-null   object
 6   P1_005N  3222 non-null   object
 7   P1_006N  3222 non-null   object
 8   P1_007N  3222 non-null   object
 9   P1_008N  3222 non-null   object
 10  P1_009N  3222 non-null   object
 11  P1_010N  3222 non-null   object
 12  P1_011N  3222 non-null   object
 13  P1_012N  3222 non-null   object
 14  P1_013N  3222 non-null   object
 15  P1_014N  3222 non-null   object
 16  P1_015N  3222 non-null   object
 17  P1_016N  3222 non-null   object
 18  P1_017N  3222 non-null   object
 19  P1_018N  3222 non-null   object
 20  P1_019N  3222 non-null   object
 21  P1_020N  3222 non-null   object
 22  P1_021N  3222 non-null   object
 23  P1_022N  3222 non-null   object
 24  P1_023N  3222 non-null   object
 25  P1_024N  3222 non-null   object
 26  P1_025N  3222 non-null   object
 27  P1_026N  3222 non-null   object
 28  P1_027N  3222 non-null   object
 29  P1_028N  3222 non-null   object
 30  P1_029N  3222 non-null   object
 31  P1_030N  3222 non-null   object
 32  P1_031N  3222 non-null   object
 33  P1_032N  3222 non-null   object
 34  P1_033N  3222 non-null   object
 35  P1_034N  3222 non-null   object
 36  P1_035N  3222 non-null   object
 37  P1_036N  3222 non-null   object
 38  P1_037N  3222 non-null   object
 39  P1_038N  3222 non-null   object
 40  P1_039N  3222 non-null   object
 41  P1_040N  3222 non-null   object
 42  P1_041N  3222 non-null   object
 43  P1_042N  3222 non-null   object
 44  P1_043N  3222 non-null   object
 45  P1_044N  3222 non-null   object
 46  P1_045N  3222 non-null   object
 47  P1_046N  3222 non-null   object
 48  P1_047N  3222 non-null   object
 49  P1_048N  3222 non-null   object
 50  P1_049N  3222 non-null   object
 51  P1_050N  3222 non-null   object
 52  P1_051N  3222 non-null   object
 53  P1_052N  3222 non-null   object
 54  P1_053N  3222 non-null   object
 55  P1_054N  3222 non-null   object
 56  P1_055N  3222 non-null   object
 57  P1_056N  3222 non-null   object
 58  P1_057N  3222 non-null   object
 59  P1_058N  3222 non-null   object
 60  P1_059N  3222 non-null   object
 61  P1_060N  3222 non-null   object
 62  P1_061N  3222 non-null   object
 63  P1_062N  3222 non-null   object
 64  P1_063N  3222 non-null   object
 65  P1_064N  3222 non-null   object
 66  P1_065N  3222 non-null   object
 67  P1_066N  3222 non-null   object
 68  P1_067N  3222 non-null   object
 69  P1_068N  3222 non-null   object
 70  P1_069N  3222 non-null   object
 71  P1_070N  3222 non-null   object
 72  P1_071N  3222 non-null   object
dtypes: object(73)
memory usage: 1.8+ MB

In [26]:
# dataframe for second csv file 
file_path2 = '../data-mining-semester-project/data/Unemployment.csv'

# Load the data into a DataFrame 
dfUnemployment = pd.read_csv(file_path2)
dfUnemployment = dfUnemployment.dropna()

dfUnemployment.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3129 entries, 2 to 3195
Data columns (total 92 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   FIPS_Code                                  3129 non-null   int64
 1   State                                      3129 non-null   object
 2   Area_name                                  3129 non-null   object
 3   Rural_urban_continuum_code_2013            3129 non-null   float64
 4   Urban_influence_code_2013                  3129 non-null   float64
 5   Metro_2013                                 3129 non-null   float64
 6   Civilian_labor_force_2000                  3129 non-null   object
 7   Employed_2000                              3129 non-null   object
 8   Unemployed_2000                            3129 non-null   object
 9   Unemployment_rate_2000                     3129 non-null   float64
 10  Civilian_labor_force_2001                  3129 non-null   object
 11  Employed_2001                              3129 non-null   object
 12  Unemployed_2001                            3129 non-null   object
 13  Unemployment_rate_2001                     3129 non-null   float64
 14  Civilian_labor_force_2002                  3129 non-null   object
 15  Employed_2002                              3129 non-null   object
 16  Unemployed_2002                            3129 non-null   object
 17  Unemployment_rate_2002                     3129 non-null   float64
 18  Civilian_labor_force_2003                  3129 non-null   object
 19  Employed_2003                              3129 non-null   object
 20  Unemployed_2003                            3129 non-null   object
 21  Unemployment_rate_2003                     3129 non-null   float64
 22  Civilian_labor_force_2004                  3129 non-null   object
 23  Employed_2004                              3129 non-null   object
 24  Unemployed_2004                            3129 non-null   object
 25  Unemployment_rate_2004                     3129 non-null   float64
 26  Civilian_labor_force_2005                  3129 non-null   object
 27  Employed_2005                              3129 non-null   object
 28  Unemployed_2005                            3129 non-null   object
 29  Unemployment_rate_2005                     3129 non-null   float64
 30  Civilian_labor_force_2006                  3129 non-null   object
 31  Employed_2006                              3129 non-null   object
 32  Unemployed_2006                            3129 non-null   object
 33  Unemployment_rate_2006                     3129 non-null   float64
 34  Civilian_labor_force_2007                  3129 non-null   object
 35  Employed_2007                              3129 non-null   object
 36  Unemployed_2007                            3129 non-null   object
 37  Unemployment_rate_2007                     3129 non-null   float64
 38  Civilian_labor_force_2008                  3129 non-null   object
 39  Employed_2008                              3129 non-null   object
 40  Unemployed_2008                            3129 non-null   object
 41  Unemployment_rate_2008                     3129 non-null   float64
 42  Civilian_labor_force_2009                  3129 non-null   object
 43  Employed_2009                              3129 non-null   object
 44  Unemployed_2009                            3129 non-null   object
 45  Unemployment_rate_2009                     3129 non-null   float64
 46  Civilian_labor_force_2010                  3129 non-null   object
 47  Employed_2010                              3129 non-null   object
 48  Unemployed_2010                            3129 non-null   object
 49  Unemployment_rate_2010                     3129 non-null   float64
 50  Civilian_labor_force_2011                  3129 non-null   object
 51  Employed_2011                              3129 non-null   object
 52  Unemployed_2011                            3129 non-null   object
 53  Unemployment_rate_2011                     3129 non-null   float64
 54  Civilian_labor_force_2012                  3129 non-null   object
 55  Employed_2012                              3129 non-null   object
 56  Unemployed_2012                            3129 non-null   object
 57  Unemployment_rate_2012                     3129 non-null   float64
 58  Civilian_labor_force_2013                  3129 non-null   object
 59  Employed_2013                              3129 non-null   object
 60  Unemployed_2013                            3129 non-null   object
 61  Unemployment_rate_2013                     3129 non-null   float64
 62  Civilian_labor_force_2014                  3129 non-null   object
 63  Employed_2014                              3129 non-null   object
 64  Unemployed_2014                            3129 non-null   object
 65  Unemployment_rate_2014                     3129 non-null   float64
 66  Civilian_labor_force_2015                  3129 non-null   object
 67  Employed_2015                              3129 non-null   object
 68  Unemployed_2015                            3129 non-null   object
 69  Unemployment_rate_2015                     3129 non-null   float64
 70  Civilian_labor_force_2016                  3129 non-null   object
 71  Employed_2016                              3129 non-null   object
 72  Unemployed_2016                            3129 non-null   object
 73  Unemployment_rate_2016                     3129 non-null   float64
 74  Civilian_labor_force_2017                  3129 non-null   object
 75  Employed_2017                              3129 non-null   object
 76  Unemployed_2017                            3129 non-null   object
 77  Unemployment_rate_2017                     3129 non-null   float64
 78  Civilian_labor_force_2018                  3129 non-null   object
 79  Employed_2018                              3129 non-null   object
 80  Unemployed_2018                            3129 non-null   object
 81  Unemployment_rate_2018                     3129 non-null   float64
 82  Civilian_labor_force_2019                  3129 non-null   object
 83  Employed_2019                              3129 non-null   object
 84  Unemployed_2019                            3129 non-null   object
 85  Unemployment_rate_2019                     3129 non-null   float64
 86  Civilian_labor_force_2020                  3129 non-null   object
 87  Employed_2020                              3129 non-null   object
 88  Unemployed_2020                            3129 non-null   object
 89  Unemployment_rate_2020                     3129 non-null   float64
 90  Median_Household_Income_2019               3129 non-null   object
 91  Med_HH_Income_Percent_of_State_Total_2019  3129 non-null   float64
dtypes: float64(25), int64(1), object(66)
memory usage: 2.2+ MB

In [28]:
# VSRR_Provisional_Drug_Overdose_Death_Counts.csv
file_path3 = '../data-mining-semester-project/data/VSRR_Provisional_Drug_Overdose_Death_Counts.csv'

# Load the data into a DataFrame 
dfODeath = pd.read_csv(file_path3)
dfODeath = dfODeath.dropna()

dfODeath.head()

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
10,AK,2015,April,12 month-ending,Number of Drug Overdose Deaths,126,100,0.0,Alaska,Numbers may differ from published reports usin...,**,126
12,AK,2015,August,12 month-ending,Number of Drug Overdose Deaths,124,100,0.0,Alaska,Numbers may differ from published reports usin...,**,124
30,AK,2015,December,12 month-ending,Number of Drug Overdose Deaths,121,100,0.0,Alaska,Numbers may differ from published reports usin...,**,121
38,AK,2015,February,12 month-ending,Number of Drug Overdose Deaths,127,100,0.0,Alaska,Numbers may differ from published reports usin...,**,127
49,AK,2015,January,12 month-ending,Number of Drug Overdose Deaths,126,100,0.0,Alaska,Numbers may differ from published reports usin...,**,126

In [25]:
# dataframe for fourth csv file 

# Underlying Cause of Death, 1999-2019.csv
file_path4 = '../data-mining-semester-project/data/Underlying Cause of Death, 1999-2019.csv'

# Load the data into a DataFrame 
dfCDeath = pd.read_csv(file_path4)
dfCDeath.head()
dfCDeath.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5003 entries, 0 to 5002
Data columns (total 16 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   County                                           4999 non-null   object
 1   County Code                                      4999 non-null   object
 2   Drug/Alcohol Induced                             4998 non-null   object
 3   Drug/Alcohol Induced Code                        4998 non-null   object
 4   Drug/Alcohol Induced Cause                       4998 non-null   object
 5   Drug/Alcohol Induced Cause Code                  4998 non-null   object
 6   Deaths                                           4998 non-null   float64
 7   Population                                       4998 non-null   float64
 8   Crude Rate                                       4998 non-null   object
 9   Crude Rate Lower 95% Confidence Interval         4998 non-null   float64
 10  Crude Rate Upper 95% Confidence Interval         4998 non-null   float64
 11  Crude Rate Standard Error                        4998 non-null   float64
 12  Age Adjusted Rate                                4998 non-null   object
 13  Age Adjusted Rate Lower 95% Confidence Interval  4998 non-null   float64
 14  Age Adjusted Rate Upper 95% Confidence Interval  4998 non-null   float64
 15  % of Total Deaths                                4998 non-null   object
dtypes: float64(7), object(9)
memory usage: 625.5+ KB

In [43]:
# state death data covid19
file_path5 = '../data-mining-semester-project/data/countyCOVIDdeath.csv'

dfStateC19Death = pd.read_csv(file_path5)
dfStateC19Death.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [47]:
#county death data covid19
file_path6 = '../data-mining-semester-project/data/countyCOVIDdeath.csv'
dfCountyC19Death = pd.read_csv(file_path6)
dfCountyC19Death.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [32]:
# death data for type of drug 
# VSRR_Provisional_Drug_Overdose_Death_Counts.csv
file_path4 = '../data-mining-semester-project/data/VSRR_Provisional_Drug_Overdose_Death_Counts-3.csv'

# Load the data into a DataFrame 
dfTypeDrug = pd.read_csv(file_path3)
dfTypeDrug.dropna()
dfTypeDrug.head()

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
0,AK,2015,April,12 month-ending,"Natural, semi-synthetic, & synthetic opioids, ...",NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
1,AK,2015,April,12 month-ending,Natural & semi-synthetic opioids (T40.2),NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
2,AK,2015,April,12 month-ending,"Natural & semi-synthetic opioids, incl. methad...",NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
3,AK,2015,April,12 month-ending,Number of Deaths,"4,133",100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
4,AK,2015,April,12 month-ending,"Opioids (T40.0-T40.4,T40.6)",NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN