import statements and data you need

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline

In [12]:
# dataframe for first csv

# Path to the data - select the path that works for you 
file_path = '../data-mining-semester-project/data/Census race.csv'

# Load the data into a DataFrame 
dfCensus = pd.read_csv(file_path)

dfCensus = dfCensus.dropna()
dfCensus= dfCensus.replace('!!',' ', regex=True)
# dfCensus.info()
dfCensus.head()

,GEO_ID,NAME,P1_001N,P1_002N,P1_003N,P1_004N,P1_005N,P1_006N,P1_007N,P1_008N,...,P1_062N,P1_063N,P1_064N,P1_065N,P1_066N,P1_067N,P1_068N,P1_069N,P1_070N,P1_071N
0,id,Geographic Area Name,Total:,Total: Population of one race:,Total: Population of one race: White alone,Total: Population of one race: Black or Afri...,Total: Population of one race: American Indi...,Total: Population of one race: Asian alone,Total: Population of one race: Native Hawaii...,Total: Population of one race: Some Other Ra...,...,Total: Population of two or more races: Popu...,Total: Population of two or more races: Popu...,Total: Population of two or more races: Popu...,Total: Population of two or more races: Popu...,Total: Population of two or more races: Popu...,Total: Population of two or more races: Popu...,Total: Population of two or more races: Popu...,Total: Population of two or more races: Popu...,Total: Population of two or more races: Popu...,Total: Population of two or more races: Popu...
1,0500000US01001,"Autauga County, Alabama",58805,55648,42160,11445,217,881,35,910,...,0,2,2,0,0,0,0,0,0,0
2,0500000US01003,"Baldwin County, Alabama",231767,216743,189399,18217,1582,2067,143,5335,...,0,0,0,0,0,0,0,0,0,0
3,0500000US01005,"Barbour County, Alabama",25223,24523,11317,11933,116,117,1,1039,...,0,2,2,0,0,0,0,0,0,0
4,0500000US01007,"Bibb County, Alabama",22293,21534,16555,4413,60,32,9,465,...,0,0,0,0,0,0,0,0,0,0

In [67]:
# dataframe for second csv file 
file_path2 = '../data-mining-semester-project/data/Unemployment.csv'

# Load the data into a DataFrame 
dfUnemployment = pd.read_csv(file_path2)
dfUnemployment = dfUnemployment.dropna()
# getting rid of values outside of 2015-2020

dfUnemployment = dfUnemployment.drop(["Civilian_labor_force_2000"],1)
dfUnemployment= dfUnemployment.drop(["Employed_2000"],1)
dfUnemployment= dfUnemployment.drop(["Unemployed_2000"],1)
dfUnemployment = dfUnemployment.drop(["Unemployment_rate_2000"],1)
dfUnemployment = dfUnemployment.drop(["Civilian_labor_force_2001"],1)
dfUnemployment= dfUnemployment.drop(["Employed_2001"],1)
dfUnemployment= dfUnemployment.drop(["Unemployed_2001"],1)
dfUnemployment = dfUnemployment.drop(["Unemployment_rate_2001"],1)

dfUnemployment = dfUnemployment.drop(["Civilian_labor_force_2002"],1)
dfUnemployment= dfUnemployment.drop(["Employed_2002"],1)
dfUnemployment= dfUnemployment.drop(["Unemployed_2002"],1)
dfUnemployment = dfUnemployment.drop(["Unemployment_rate_2002"],1)


dfUnemployment = dfUnemployment.drop(["Civilian_labor_force_2003"],1)
dfUnemployment= dfUnemployment.drop(["Employed_2003"],1)
dfUnemployment= dfUnemployment.drop(["Unemployed_2003"],1)
dfUnemployment = dfUnemployment.drop(["Unemployment_rate_2003"],1)

dfUnemployment = dfUnemployment.drop(["Civilian_labor_force_2004"],1)
dfUnemployment= dfUnemployment.drop(["Employed_2004"],1)
dfUnemployment= dfUnemployment.drop(["Unemployed_2004"],1)
dfUnemployment = dfUnemployment.drop(["Unemployment_rate_2004"],1)

dfUnemployment = dfUnemployment.drop(["Civilian_labor_force_2005"],1)
dfUnemployment= dfUnemployment.drop(["Employed_2005"],1)
dfUnemployment= dfUnemployment.drop(["Unemployed_2005"],1)
dfUnemployment = dfUnemployment.drop(["Unemployment_rate_2005"],1)

dfUnemployment = dfUnemployment.drop(["Civilian_labor_force_2006"],1)
dfUnemployment= dfUnemployment.drop(["Employed_2006"],1)
dfUnemployment= dfUnemployment.drop(["Unemployed_2006"],1)
dfUnemployment = dfUnemployment.drop(["Unemployment_rate_2006"],1)

dfUnemployment = dfUnemployment.drop(["Civilian_labor_force_2007"],1)
dfUnemployment= dfUnemployment.drop(["Employed_2007"],1)
dfUnemployment= dfUnemployment.drop(["Unemployed_2007"],1)
dfUnemployment = dfUnemployment.drop(["Unemployment_rate_2007"],1)

dfUnemployment = dfUnemployment.drop(["Civilian_labor_force_2008"],1)
dfUnemployment= dfUnemployment.drop(["Employed_2008"],1)
dfUnemployment= dfUnemployment.drop(["Unemployed_2008"],1)
dfUnemployment = dfUnemployment.drop(["Unemployment_rate_2008"],1)


dfUnemployment = dfUnemployment.drop(["Civilian_labor_force_2009"],1)
dfUnemployment= dfUnemployment.drop(["Employed_2009"],1)
dfUnemployment= dfUnemployment.drop(["Unemployed_2009"],1)
dfUnemployment = dfUnemployment.drop(["Unemployment_rate_2009"],1)

dfUnemployment = dfUnemployment.drop(["Civilian_labor_force_2010"],1)
dfUnemployment= dfUnemployment.drop(["Employed_2010"],1)
dfUnemployment= dfUnemployment.drop(["Unemployed_2010"],1)
dfUnemployment = dfUnemployment.drop(["Unemployment_rate_2010"],1)


dfUnemployment = dfUnemployment.drop(["Civilian_labor_force_2011"],1)
dfUnemployment= dfUnemployment.drop(["Employed_2011"],1)
dfUnemployment= dfUnemployment.drop(["Unemployed_2011"],1)
dfUnemployment = dfUnemployment.drop(["Unemployment_rate_2011"],1)

dfUnemployment = dfUnemployment.drop(["Civilian_labor_force_2012"],1)
dfUnemployment= dfUnemployment.drop(["Employed_2012"],1)
dfUnemployment= dfUnemployment.drop(["Unemployed_2012"],1)
dfUnemployment = dfUnemployment.drop(["Unemployment_rate_2012"],1)

dfUnemployment = dfUnemployment.drop(["Civilian_labor_force_2013"],1)
dfUnemployment= dfUnemployment.drop(["Employed_2013"],1)
dfUnemployment= dfUnemployment.drop(["Unemployed_2013"],1)
dfUnemployment = dfUnemployment.drop(["Unemployment_rate_2013"],1)

dfUnemployment = dfUnemployment.drop(["Civilian_labor_force_2014"],1)
dfUnemployment= dfUnemployment.drop(["Employed_2014"],1)
dfUnemployment= dfUnemployment.drop(["Unemployed_2014"],1)
dfUnemployment = dfUnemployment.drop(["Unemployment_rate_2014"],1)

dfUnemployment = dfUnemployment.drop(["Rural_urban_continuum_code_2013"],1)
dfUnemployment= dfUnemployment.drop(["Urban_influence_code_2013"],1)
dfUnemployment= dfUnemployment.drop(["Metro_2013"],1)

# Rural_urban_continuum_code_2013            3129 non-null   float64
#  4   Urban_influence_code_2013                  3129 non-null   float64
#  5   Metro_2013    

# drop anything not in Alabama, Arkansas, Delaware, the District of Columbia, Florida, Georgia, Kentucky, Louisiana, Maryland, Mississippi, North Carolina, Oklahoma, South Carolina, Tennessee, Texas, Virginia, and West Virginia.
# get rid of anything less than 2015 to have our datasets work well together
dfUnemployment.head()

,FIPS_Code,State,Area_name,Civilian_labor_force_2015,Employed_2015,Unemployed_2015,Unemployment_rate_2015,Civilian_labor_force_2016,Employed_2016,Unemployed_2016,...,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
2,1001,AL,"Autauga County, AL","25,541","24,206","1,335",5.2,"25,710","24,395","1,315",...,"26,281","25,561",720,2.7,"25,838","24,576","1,262",4.9,"58,233",112.5
3,1003,AL,"Baldwin County, AL","87,493","82,619","4,874",5.6,"89,778","84,972","4,806",...,"97,424","94,713","2,711",2.8,"96,763","91,338","5,425",5.6,"59,871",115.6
4,1005,AL,"Barbour County, AL","8,590","7,823",767,8.9,"8,334","7,638",696,...,"8,502","8,177",325,3.8,"8,587","7,982",605,7.0,"35,972",69.5
5,1007,AL,"Bibb County, AL","8,552","7,983",569,6.7,"8,539","7,986",553,...,"8,639","8,371",268,3.1,"8,640","8,067",573,6.6,"47,918",92.6
6,1009,AL,"Blount County, AL","24,416","23,089","1,327",5.4,"24,380","23,061","1,319",...,"25,196","24,516",680,2.7,"24,661","23,653","1,008",4.1,"52,902",102.2

In [39]:
# VSRR_Provisional_Drug_Overdose_Death_Counts.csv
file_path3 = '../data-mining-semester-project/data/VSRR_Provisional_Drug_Overdose_Death_Counts.csv'

# Load the data into a DataFrame 
dfODeath = pd.read_csv(file_path3)
dfODeath = dfODeath.dropna()
dfODeath = dfODeath.drop(["Footnote"],1)
dfODeath = dfODeath.drop(["Footnote Symbol"],1)
dfODeath = dfODeath.drop(["State Name"],1)

# dfODeath = dfODeath.drop([dfODeath["State"]=="AK"],1)

# need to drop anything that is not Alabama, Arkansas, Delaware, the District of Columbia, Florida, Georgia, Kentucky, Louisiana, Maryland, Mississippi, North Carolina, Oklahoma, South Carolina, Tennessee, Texas, Virginia, and West Virginia.
# 
dfODeath.head()

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,Predicted Value
10,AK,2015,April,12 month-ending,Number of Drug Overdose Deaths,126,100,0.0,126
12,AK,2015,August,12 month-ending,Number of Drug Overdose Deaths,124,100,0.0,124
30,AK,2015,December,12 month-ending,Number of Drug Overdose Deaths,121,100,0.0,121
38,AK,2015,February,12 month-ending,Number of Drug Overdose Deaths,127,100,0.0,127
49,AK,2015,January,12 month-ending,Number of Drug Overdose Deaths,126,100,0.0,126

In [15]:
# dataframe for fourth csv file 

# Underlying Cause of Death, 1999-2019.csv
file_path4 = '../data-mining-semester-project/data/Underlying Cause of Death, 1999-2019.csv'

# drop anything not in Alabama, Arkansas, Delaware, the District of Columbia, Florida, Georgia, Kentucky, Louisiana, Maryland, Mississippi, North Carolina, Oklahoma, South Carolina, Tennessee, Texas, Virginia, and West Virginia.
# reduce time to 2015 to 2020 for this dataset 
# Load the data into a DataFrame 
dfCDeath = pd.read_csv(file_path4)
dfCDeath.head()
# dfCDeath.info()

,County,County Code,Drug/Alcohol Induced,Drug/Alcohol Induced Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Crude Rate Standard Error,Age Adjusted Rate,Age Adjusted Rate Lower 95% Confidence Interval,Age Adjusted Rate Upper 95% Confidence Interval,% of Total Deaths
0,"Autauga County, AL",1001,All other non-drug and non-alcohol causes,O,All other non-drug and non-alcohol causes,O9,536.0,55869.0,959.4,878.2,1040.6,41.4,812.2,742.7,881.7,0.0%
1,"Baldwin County, AL",1003,Drug-induced causes,D,Drug poisonings (overdose) Unintentional (X40-...,D1,26.0,223234.0,11.6,7.6,17.1,2.3,13,8.3,19.3,0.0%
2,"Baldwin County, AL",1003,Alcohol-induced causes,A,All other alcohol-induced causes,A9,27.0,223234.0,12.1,8.0,17.6,2.3,10.8,6.9,16.0,0.0%
3,"Baldwin County, AL",1003,All other non-drug and non-alcohol causes,O,All other non-drug and non-alcohol causes,O9,2222.0,223234.0,995.4,954.0,1036.8,21.1,721.3,690.2,752.3,0.1%
4,"Barbour County, AL",1005,All other non-drug and non-alcohol causes,O,All other non-drug and non-alcohol causes,O9,330.0,24686.0,1336.8,1192.6,1481.0,73.6,1021.4,907.8,1135.0,0.0%

In [18]:
# state death data covid19
file_path5 = '../data-mining-semester-project/data/statesCOVID.csv'

dfStateC19Death = pd.read_csv(file_path5)
dfStateC19Death.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [9]:
#county death data covid19
file_path6 = '../data-mining-semester-project/data/us-counties.csv'
# drop anything not a southern state 
dfCountyC19Death = pd.read_csv(file_path6)
dfCountyC19Death.head()

,date,geoid,county,state,cases,cases_avg,cases_avg_per_100k,deaths,deaths_avg,deaths_avg_per_100k
0,2020-01-21,USA-53061,Snohomish,Washington,1,0.14,0.02,0,0.0,0.0
1,2020-01-22,USA-53061,Snohomish,Washington,0,0.14,0.02,0,0.0,0.0
2,2020-01-23,USA-53061,Snohomish,Washington,0,0.14,0.02,0,0.0,0.0
3,2020-01-24,USA-53061,Snohomish,Washington,0,0.14,0.02,0,0.0,0.0
4,2020-01-24,USA-17031,Cook,Illinois,1,0.14,0.00,0,0.0,0.0

In [36]:
# death data for type of drug 
# VSRR_Provisional_Drug_Overdose_Death_Counts.csv
file_path4 = '../data-mining-semester-project/data/VSRR_Provisional_Drug_Overdose_Death_Counts-3.csv'

# drop anything not in a southern state to start, retain data from 2015 to end of 2020

# Load the data into a DataFrame 
dfTypeDrug = pd.read_csv(file_path3)
dfTypeDrug=dfTypeDrug.dropna(subset =["Predicted Value"]).copy()
dfTypeDrug = dfTypeDrug.drop(["State Name"],1)
dfTypeDrug = dfTypeDrug.drop(["Footnote"],1)
dfTypeDrug = dfTypeDrug.drop(["Footnote Symbol"],1)
dfTypeDrug.head()

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,Predicted Value
10,AK,2015,April,12 month-ending,Number of Drug Overdose Deaths,126,100,0.0,126
12,AK,2015,August,12 month-ending,Number of Drug Overdose Deaths,124,100,0.0,124
30,AK,2015,December,12 month-ending,Number of Drug Overdose Deaths,121,100,0.0,121
38,AK,2015,February,12 month-ending,Number of Drug Overdose Deaths,127,100,0.0,127
49,AK,2015,January,12 month-ending,Number of Drug Overdose Deaths,126,100,0.0,126